*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.calculator{
    /* display: flex;
    flex-direction: column; */
    box-shadow: 4px 4px 30px rgb(0, 0, 0,0.3);
}

.screen{
    width: 20vw;
    height: 25vh;
    background-color: black;
    color: white;
    font-size: 3rem;
    text-align: right;

}

.row{
    display: flex;
    justify-content: space-around;
}

.btn{
   width: 100%;
   margin: 5px;   
    padding: -1px 15px;
       font-size: 2.5rem;
           border: none;
    border-radius: 20%;
        box-shadow: 4px 6px 7px rgb(0, 0, 0,0.3);

 
   
}